#question{
    margin-top: 2px;
    padding-top: 2px;
}
.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size:1.8rem;
    border: 0.1rem solid rgb(86, 165, 245, 0.25);
    background-color: white;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #56a5eb;
    transform: transform 150px;
    background-color:#9cd0dd ;
    color: white;
}
.choice-prefix{
    margin: 0;
    padding: 2.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}.choice-text{
    padding: 1.5rem;
    width: 100%;
    
}
.correct{
    background-color: rgb(45, 243, 45);

}
.incorrect{
    background-color: red;
}
/*hub section*/
#hud{
    display: flex;
    justify-content: space-between;
   
}
#hud-item{
    padding-top: 50px;
    margin-top: 50px;

}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0px;
}
.hud-text{
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}
#progressBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #2ecc71;

}
#progressBarFull{
    height: 4.0rem;
    background-color: #2ecc71;
    width: 0%;

}