.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size:1.8rem;
    border: 0.1rem solid rgb(86, 165, 245, 0.25);
    background-color: white;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #56a5eb;
    transform: transform 150px;
    background-color:#2ecc71 ;
    color: white;
}
.choice-prefix{
    margin: 0;
    padding: 2.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}.choice-text{
    padding: 1.5rem;
  
    
}