/*Global styling*/
body {
    background-color: #635d08;
  }
  a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
  }
  em {
    font-style: oblique;
  }
  strong {
    font-style: bold;
  }
  img {
    width: 100%;
  }
  h1, h2, h3, h4, h5 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
  }
  h3 {
    text-transform: capitalize;
    font-size: 1.875em;
    padding: 0 0 1% 0;
    color: yellow;
    font-weight: 800;
  }
  .hthree{
      color: black;
  }
/*Header*/

header {
    background: linear-gradient( rgb(10, 10, 9), rgba(12, 12, 10, 0.9)), /* bottom, image */
    url(img/laptop.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
  }
  .intro {
    max-width: 960px;
    margin: 0 auto;
    padding: 8% 0;
  }
  .intro h1 {
    font-size: 6em;
    text-align: center;
    color: rgb(221, 208, 21);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
  }
  .intro h2 {
    font-size: 2em;
    text-align: center;
    color: yellow;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.09em;
  }
  /*About*/
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    font-family: proxima-nova, sans-serif;
    -webkit-animation-delay: 4s;
    /* Chrome, Safari, Opera */
    animation-delay: 2s;
  }
  .about {
    padding: 4% 0;
  }
  .about p {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8;
    color: black;
    letter-spacing: .03em;
    margin: 10px auto;
    font-size: 1.5em;
    padding: 2% 0;
  }
  .about p a {
    color: yellow;
    border-bottom: 2px solid;
  }
  /*W ork*/

  .work {
    height: 300px;
    padding: 2% 0;
  }
  .work h3 {
    padding: 4% 0;
  }
  .text-box {
    float: left;
    text-align: left;
    width: 480px;
    background-color: black;
    height: 100%;
  }
  .text-box-content {
    padding: 4% 8%;
  }
  .text-box-content p {
    line-height: 1.8;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .button {
    padding: 5% 3%;
    border: 3px solid yellow;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: yellow;
    text-align: center;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4%;
  }
  .button:hover {
    color: black;
    background-color: yellow;
  }
  .image-area {
    width: 480px;
    height: 300px;
    overflow: hidden;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }

  /* contact*/

  .contact {
    width: 100%;
    background-color: #01050a;
    padding: 5% 0;
    margin-top: 5%;
    clear: both;
  }
  .contact-content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  .contact-content h4 {
    font-size: 1.875em;
    padding: 1% 0;
    color: #616569;
    font-weight: 600;
    letter-spacing: 0.04em;
  }
  .contact-content a {
    color: yellow;
    text-decoration: none;
  }
  

  /*image divide*/
  .image-divider {
    padding: 15% 0;
    background: /* bottom, image */
    url(images/capture.jpg);
    background-size: cover;
    background-position: center top;
  }


  /*Footer*/

  footer {
    background-color: black;
    color: #616569;
    padding: 2% 0;
    width: 100%;
    clear: both;
    height: 100px;
  }
  .footer-content {
    max-width: 960px;
    padding: 2% 0;
    margin: 0 auto;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .credit {
    float: left;
  }
  .social {
    float: right;
  }
  .social li {
    display: inline;
  }
  .social li a {
    color: #616569;
    padding: 0.2em;
    font-size: 1.8em;
    font-weight: 600;
  }
  .social li a:hover {
    color: yellow;
  }

  /*Media Query*/

  @media only screen and (max-width:1000px) {
    .wrapper {
      padding: 0% 4%;
    }
    .work {
      padding: 4% 0;
    }
    .image-area {
      float: left;
      width: 100%;
      height: auto;
    }
    .text-box {
      width: 100%;
      height: auto;
    }
    .social li a {
      font-size: 1.4em;
    }
    .footer-content {
      padding: 3.5%;
    }
  }
  @media only screen and (max-width:800px) {
    .intro h1 {
      font-size: 4em;
      line-height: 1.2;
    }
    .intro h2 {
      font-size: 1.8em;
      padding-top: 3%;
    }
    .about p {
      font-size: 1em;
      line-height: 2;
    }
    footer {
      height: 130px;
      line-height: 1.3em;
    }
    .footer-content {
      padding: 4%;
      font-size: 14px;
    }
    .social {
      float: left;
    }
    .social li a {
      font-size: 1.3em;
    }
    .contact-content {
      font-size: 12px;
      line-height: 1.5;
    }
  }